@inherits ConverterBase

    <EditForm Model="@CosmicDate" OnValidSubmit="HandleValidSubmit()">
        <div class="datepicker">
            <label>
                <br>
                <label>
                    <InputStarDate @bind-Value="CosmicDate" /> 
                    <InputDate @bind-Value="GregDate" />
                </label>
                <br>
                StarDate @LongStar
                <br>
                Gregorian Date @LongDate
            </label>
        </div>
    </EditForm>

@code {
    EventCallback HandleValidSubmit()
    {
        LongStar = CosmicDate.ToLongDateString();
        LongDate = GregDate.ToLongDateString();
        return new EventCallback();
    }
    public string LongStar = StarLib.StarDate.Now.ToLongDateString();
    public string LongDate = DateTime.Now.ToLongDateString();
}
