@page "/"
@using StarLib.Forms;
@using StarLib;
@using StarLibForms
@*@inherits InputStarDateBase*@

<h1>Hello, world!</h1>



@*<StarLib.Forms.Converter />*@


<EditForm Model="@sd" OnValidSubmit="HandleValidSubmit">
    <Component @bind-Value="sd" />
    |||
    <InputDate @bind-Value="dt" />
</EditForm>

<Calendar1 />



@code{
    void HandleValidSubmit()
    {

    }
    private DateTime date = DateTime.Now;
    private StarDate star = StarDate.Now;
    private StarDate sd { get => star; set { date = (DateTime)value; star = value; } }
    private DateTime dt { get => date; set { date = value; star = (StarDate)value; } }
}