@page "/"
@using StarLib.Forms;
@using StarLib;
@*@inherits InputStarDateBase*@

<h1>Hello, world!</h1>



@*<StarLib.Forms.Converter />*@


<EditForm Model="@sd" OnValidSubmit="HandleValidSubmit">
    <Component @bind-Value="sd" />
    <InputDate @bind-Value="dt" />
</EditForm>



@code{
    void HandleValidSubmit()
    {

    }
    StarDate sd = StarDate.Now;
    private int Year { get; set; }
    private int Month { get; set; }
    private int Day { get; set; }
    public string[] Months { get; set; } = StarLib.StarCulture.CurrentCulture.GetMonthList();
    public int MonthDays { get; protected set; } = 28;
    public int YearMonths { get; protected set; } = 14;
    private DateTime dt;
}