@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />



@*@bind-Value ="dt"*@



<EditForm Model="@date" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputStarDate @bind-Value="dt" />

    <InputDate @bind-Value="date" />

    <button type="submit">Submit</button>
</EditForm>

@code{
    StarLib.StarDate dt;
    DateTime date;
    string CurrentValue;

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}