@page "/"
@using StarLibForms; 
@using StarLib;

<h1>Hello, world!</h1>


<EditForm Model="@dt" OnValidSubmit="HandleValidSubmit">

    <p>
        <label>
            <StarLib.Forms.InputStarDate @bind-Value="dt" />
        </label>
    </p>
</EditForm>


@*<StarLib.Forms.Converter />*@






@code{
    StarDate dt = StarDate.Now;
    void HandleValidSubmit()
    {
        Console.WriteLine("ValidSubmit");
    }
}