@using StarLib
@inherits InputStarDateBase



@code {

    

}

<select @bind="Day">
    @for (int i = 1; i <= MonthDays; i++)
    {
        <option>@i</option>
    }
</select>
<select @bind="Month">
    @for (int i = 1; i <= YearMonths; i++)
    {
        <option value="@i">@Months[i - 1]</option>
    }
</select>
<select @bind="Year">
    @for (int i = Value.Year - 5;
i <= Value.Year + 5; i++)
    {
        <option>@i</option>
    }
</select>
