@page "/"
@page "/today"
@using GaianEmpire;

<h1>Today in both calendars</h1>

<p>Gregorian: @date</p>
<p>Celestial: @star</p>

@code {
    private DateTime date = DateTime.Now;
    private StarDate star = StarDate.Now();
}

<p>This is the Celestial Calendar. The Calendar used in the Gaiad.&nbsp;</p>
<p>The Celestial Calendar is a sidereal leap week calendar.</p>
<p>The new year is defined based on the Earth crossing between Sagittarius A* (called Chiron in the Gaiad) and the sun</p>
<p><br></p>
<p><br></p>
<p>Months and Weeks</p>
<p><br></p>
<p>The Celestial calendar uses 13 months based on the 13 sign zodiac (12 classical signs plus Ophiuchus)</p>
<p>Each month has 28 days for four weeks a month. 4 * 13 = 52 weeks per year or 364 days per year</p>
<p>The 1st of a month is always a Monday, all days of the year thus have fixed weekdays. This helps with scheduling holidays and business.</p>
<p>Friday the 13th as a day never happens</p>
<p>Sunday is the seventh day so Sabbath can be performed on the seventh day indisputably</p>
<p><br></p>
<p>Time of the New Year</p>
<p><br></p>
<p>The Celestial Year starts with Sagittarius rather than Capricorn because of the precession of the equinoxes.&nbsp;</p>
<p>Milankovich cycles cause the Earth&#39;s axis to wobble over thousands of years.&nbsp;</p>
<p>December 21st was around the beginning of Capricorn in Ancient Greek times</p>
<p>Now, however Capricorn only reaches the same location in the sky around January 18th.</p>
<p>The Age of Aquarius is the current time period now when the stars are shifted one month away from the time of the Ancient Greeks</p>
<p>We decided that the stars are more important than the seasons to an industrialized society, we want people to look up to mankind&#39;s future in the stars rather than look at agricultural practices.</p>
<p>The Celestial calendar will deviate from seasons in a 26,000 year cycle.</p>
<p>In about 6,000 years the year will begin in March rather than December.</p>
<p>As in that time the majority of people will not live on Earth, it doesn&#39;t matter that the seasons don&#39;t match the calendar anymore</p>
<p>Around every 150,000 years the Celestial Calendar gains 1 day of error relative to the Earth&#39;s movement through space</p>
<p>This isn&#39;t a major problem because chaotic behavior in the Earth&#39;s orbit makes it difficult to make predictions that far into the future anyways</p>
<p>Additionally even Earth&#39;s location relative to stars is unlikely to matter much then, since by the time we gain a day in error we will have colonized the entire milky way</p>
<p><br></p>
<p>Leap Years</p>
<p><br></p>
<p>Every sixth year has a leap week. The leap week is represented in the special month of Chiron and comes between Ophiuchus and Sagittarius</p>
<p>Every 78th year there&nbsp;</p>
<p><br></p>
<p>Years</p>
<p><br></p>
<p>The Date Object is coded based around a rough estimate of milliseconds since the Big Bang</p>
<p>There are two ways of representing years in the Celestial Calendar: Long Dates and Short Dates</p>
<p>Short dates have a 1 put before the year. So 2020 becomes 12020.&nbsp;</p>
<p>Year zero from this point is roughly when Gobekli Tepe was built and Agriculture began.</p>
<p>The story of Manu is present in the Gaiad starting from this point</p>
<p>As Manu was born on midnight of Sagittarius 1st Year 1, it means that his mother was pregnant in year zero.&nbsp;</p>
<p>This year can be called the 12020th year of Manu</p>
<p>Long Years have 14 billion years added to the short calendar. This is an estimate of time from the big bang rounded to the nearest billion</p>
<p>13.8 billion is the proper amount, but adding that significantly increases memory difficulties</p>
<p><br></p>
<p>Time Zone</p>
<p><br></p>
<p>Time Zones are based around Star System, Planet, and Location on a planet</p>
<p>Time Zones also support movement of ships through space, including acceleration and direction relative to Earth</p>
<p><br></p>
<p>Space Features (in progress)</p>
<p>Martian Days are hard coded into the calendar system.&nbsp;</p>
<p>Martian Days are roughly 24:30 in length, so the time counts to that point before rolling over to the next day</p>
<p>Mars loses 30 min per day relative to Earth, so time zone conversions are more complex</p>
<p>Every few weeks a weekday will be skipped to keep the days in sync with Earth</p>
<p>On planets with a longer day the reverse will happen and extra intercalary days will be added instead</p>
<p>Lunar Cycle support for all major moons in the solar system.</p>
<p>The date in other star systems is based around the time transmissions from Earth will reach them.</p>
<p>Thus Alpha Centauri is 4 years in the past relative to Earth.</p>
<p>Time adjustment to take into account relativistic time dilation in space travel, alongside increasing distance from Earth.</p>
<p><br></p>
<p>Misc features</p>
<p>Margin of error support</p>
<p><br></p>
<p>In progress</p>
<p><br></p>
<p>Leap Second Support</p>
<p>Historical Time Zone support</p>
<p>Space related features</p>