@using StarLib
@inherits InputStarDateBase

@*Error is here*@

@code {

    

}

<select @bind-Value="Day">
    @for (int i = 1; i <= MonthDays; i++)
    {
        <option>@i</option>
    }
</select>
<select @bind-Value="Month">
    @for (int i = 1; i <= YearMonths; i++)
    {
        <option value="@i">@Months[i - 1]</option>
    }
</select>
<select @bind-Value="Year">
    @for (int i = Foundation.Year - 5;
i <= Foundation.Year + 5; i++)
    {
        <option>@i</option>
    }
</select>