
bin/Debug/netcoreapp3.1/CosmicCalendar.csv
*.cache
*.cache
*.pdb
*.pdb
StarLibForms/obj/Debug/netcoreapp3.1/RazorDeclaration/StarLibForms.pdb
StarLibForms/obj/Debug/netcoreapp3.1/StarLibForms.pdb
StarDate/obj/Debug/netcoreapp3.1/StarBlaze.csproj.FileListAbsolute.txt
StarDate/obj/Debug/netcoreapp3.1/StarBlaze.csprojAssemblyReference.cache
StarDate/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Index.razor.g.cs
StarDate/obj/Debug/netcoreapp3.1/Razor/Pages/Index.razor.g.cs
StarDate/obj/Debug/netcoreapp3.1/Razor/Calendar1.razor.g.cs
StarDate/bin/Debug/netcoreapp3.1/StarLibForms.Views.pdb
StarDate/bin/Debug/netcoreapp3.1/StarBlaze.pdb
.vs/StarDate/v16/.suo
StarDate/obj/Debug/netcoreapp3.1/StarBlaze.TagHelpers.output.cache
StarDate/obj/Debug/netcoreapp3.1/StarBlaze.pdb
StarDate/obj/Debug/netcoreapp3.1/StarBlaze.csprojAssemblyReference.cache
StarDate/obj/Debug/netcoreapp3.1/StarBlaze.csproj.FileListAbsolute.txt
StarLibDesktop/bin/Debug/netcoreapp3.1/StarLibDesktop.exe.WebView2/EBWebView/CrashpadMetrics.pma
samples/BlazorDesktopApp/bin/Debug/netcoreapp3.0/BlazorDesktopApp.exe.WebView2/EBWebView/CrashpadMetrics.pma
