@page "/"
@using StarLib
@using Andromeda

<h1>Hello, world!</h1>

Welcome to your new app.



<EditForm Model="@star">
    <Zodiac.Andromeda.InputStarDate @bind-Value="star" />
    <button class="btn btn-primary" @onclick="UpdateHeading()">
        Update heading
    </button>
</EditForm>

@StarString

@code{
    private StarLib.StarDate star = StarLib.StarDate.Now;
    private string StarString = StarDate.Now.ToLongString();
    public EventCallback UpdateHeading()
    {
        StarString = star.ToLongString();
        return new EventCallback();
    }
}