@page "/"
@using StarLib
@using Andromeda

<h1>Calendar Converter!</h1>

<Zodiac.Andromeda.Converter />


@code{
    private StarLib.StarDate star = StarLib.StarDate.Now;
    private DateTime dt = DateTime.Now;
}