@page "/"
@using StarLib;

<h1>Hello, world!</h1>

@*Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<EditForm Model="@dt" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <p>
        <label>
            Greg Date:
            <InputDate @bind-Value="dt" />
            Star Date:
            @today
        </label>
    </p>

    <button type="submit">Convert</button>
</EditForm>*@


@*@today*@

<EditForm Model="@star" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <p>
        <label>
            Greg Date:
            <InputDate @bind-Value="dt" />
            Star Date:
            <InputStarDate @bind-Value="star" />
            @star.ToLongDateString()
        </label>
    </p>

    <button type="submit">Convert</button>
</EditForm>





@code {
    private StarDate star = StarDate.Now;
    private DateTime dt = DateTime.Now;
    private string today = StarDate.Now.ToLongDateString();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
        dt = star.DateTime;
        today = star.ToLongDateString();
    }
}
