@page "/"
@using StarLib;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<EditForm Model="@dt" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <p>
        <label>
            Greg Date:
            <InputDate @bind-Value="dt" />
            Star Date:
            @today
        </label>
    </p>

    <button type="submit">Convert</button>
</EditForm>



@code {
    private StarDate sdt = StarDate.Now;
    private DateTime dt = DateTime.Now;
    private string today = StarDate.Now.ToLongString();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
        sdt = (StarDate)dt;
        today = sdt.ToLongString();
    }
}
