@page "/"
@using StarLib;
@inherits CalendarBase

<h1>Hello, world!</h1>

<EditForm Model="@dt" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <p>
        <label>
            <InputNumber @bind-Value="Year"></InputNumber>
            <select class="form-control" @bind="@Month">

                <option value=""></option>
                @foreach (var country in MonthList)
                {
                    <option value="@country.Key"> @country.Value </option>
                }
                }
            </select>
            <InputNumber @bind-Value="Day"></InputNumber>
        </label>
    </p>

    <button type="submit">Convert</button>
</EditForm>

@code {
    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}
