@using StarLib
@using Microsoft.AspNetCore.Components.Forms
@using StarLib.Forms;
@inherits CalendarBase
@code {
    
}

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg .tg-baqh {
            text-align: center;
            vertical-align: top
        }

        .tg .tg-amwm {
            font-weight: bold;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-t2cw {
            font-weight: bold;
            text-align: center;
            text-decoration: underline;
            vertical-align: top
        }
</style>
<table class="tg">
    <thead>
        <tr>
            <th class="tg-amwm"><button type="button" @onclick="PrevMonth()">&lt;</button></th>
            <th class="tg-t2cw" colspan="5">
                <select @bind="Month">
                    @for (int i = 1; i <= YearMonths; i++)
                    {
                        <option value="@i">@Months[i - 1]</option>
                    }
                </select>
                <select @bind="Year">
                    @for (int i = Foundation.Year - 5;
i <= Foundation.Year + 5; i++)
                    {
                        <option>@i</option>
                    }
                </select>
            </th>
            <th class="tg-amwm"><button type="button" @onclick="NextMonth()">&gt;</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tg-amwm">☾</td>
            <td class="tg-amwm">火</td>
            <td class="tg-amwm">☿</td>
            <td class="tg-amwm">♃</td>
            <td class="tg-amwm">金</td>
            <td class="tg-amwm">♄</td>
            <td class="tg-amwm">☉</td>
        </tr>
        <tr>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(1)">1</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(2)">2</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(3)">3</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(4)">4</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(5)">5</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(6)">6</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(7)">7</button></td>
        </tr>
        <tr>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(8)">8</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(9)">9</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(10)">10</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(11)">11</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(12)">12</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(13)">13</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(14)">14</button></td>
        </tr>
        <tr>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(15)">15</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(16)">16</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(17)">17</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(18)">18</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(19)">19</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(20)">20</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(21)">21</button></td>
        </tr>
        <tr>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(22)">22</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(23)">23</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(24)">24</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(25)">25</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(26)">26</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(27)">27</button></td>
            <td class="tg-baqh"><button type="button" @onclick="ClickDate(28)">28</button></td>
        </tr>
    </tbody>
</table>