@inherits ConverterBase
@using Microsoft.AspNetCore.Components.Forms

    <EditForm Model="@CosmicDate" OnValidSubmit="HandleValidSubmit()">
        <div class="datepicker">
            <label>
                <br>
                <label>
                    <InputStarDate @bind-Value="CosmicDate" /> 
                    <InputDate @bind-Value="GregDate" />
                </label>
                <br>
                Long StarDate @LongStar
                <br>
                Long Gregorian Date @LongDate
            </label>
        </div>
    </EditForm>

@code {
    EventCallback HandleValidSubmit()
    {
        LongStar = CosmicDate.ToLongDateString();
        LongDate = GregDate.ToLongDateString();
        //GregDate = CosmicDate;
        return new EventCallback();
    }
    public string LongStar = StarLib.StarDate.Now.ToLongDateString();
    public string LongDate = DateTime.Now.ToLongDateString();
}
