@using StarLib.Forms 
@inherits InputStarDateBase

@code {
    private void ShowCalendar()
    {

    }
}

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            word-break: normal;
            height: 100%;
        }

        .tg .tg-0lax {
            text-align: center;
            vertical-align: central;
            height: 100%;
            border-width: 1px;
        }

        .tg .input {
            border-width: 0px;
            min-height: 20px;
            vertical-align: central;
        }
</style>
<table class="tg">
    <thead>
        <tr>
            <th class="tg-0lax">
                <select @bind="Day" class="input">
                    @for (int i = 1; i <= MonthDays; i++)
                    {
                        <option>@i</option>
                    }
                </select>
            </th>
            <th class="tg-0lax">
                <select @bind="Month" class="input">
                    @for (int i = 1; i <= YearMonths; i++)
                    {
                        <option value="@i">@Months[i - 1]</option>
                    }
                </select>
            </th>
            <th class="tg-0lax">
                <select @bind="Year" class="input">
                    @for (int i = BaseYear - 5;
               i <= BaseYear + 5; i++)
                    {
                        <option>@i</option>
                    }
                </select>
            </th>
            <th class="tg-0lax">
                <button type="button"
                        @onclick="ShowCalendar" class="input">
                    📅
                </button>
            </th>
        </tr>
    </thead>
</table>