@using StarLib
@using Microsoft.AspNetCore.Components.Forms
@using StarLib.Forms;
@using StarLib;
@inherits InputStarDateBase
@*Error is here*@



@code {

    public Task ShowCalendar()
    {
        throw new NotImplementedException();
    }

}

    <head>
        <style>
            .datepicker {
                border: 1px solid black;
                display: inline-block
            }
        </style>
    </head>



    <div class="datepicker">
        <select @bind="Day">
            @for (int i = 1; i <= MonthDays; i++)
            {
                <option>@i</option>
            }
        </select>
        <select @bind="Month">
            @for (int i = 1; i <= YearMonths; i++)
            {
                <option value="@i">@Months[i - 1]</option>
            }
        </select>
        <select @bind="Year">
            @for (int i = Foundation.Year - 5;
     i <= Foundation.Year + 5; i++)
            {
                <option>@i</option>
            }
        </select>
        <button type="button"
                @onclick="ShowCalendar">
            📅
        </button>
    </div>