@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://blog.order.life/2020/04/05/the-gaiad-chapter-1-quantum-romance/" target="_blank" class="ml-md-auto">Read the Gaiad</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
